//footer och det som är i den
/*
.footer {
  width: 100%;
  height: 4em;
  background-color: $blue;
  padding: 0.4em;
  bottom: 0;
  position: absolute;
}
.footertext {
  color: $pink;
  font-size: 0.8em;
  text-shadow: $glow;
  font-family: $fontH;
  padding-inline: 0.5em;
}

.button {
  color: white;
  background-color: $blueB;
  text-decoration: none;
  display: inline-block;
  border: none;
  font-family: $fontR;
  font-weight: 600;
  right: 1.2em;
  bottom: 0.9em;
  position: absolute;
}*/
