@media screen and (min-width: 350px) and (max-width: 376px) {
  .square {
    border: solid 4px rgb(0, 0, 0);
    width: 13.5rem;
    height: 14rem;
    position: absolute;
    left: 40px;
    top: 60px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .ReadmoreSquare {
    text-decoration: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.3m;
  }
  .ToMoon {
    font-family: $fontR;
    font-weight: 700;
    font-size: 2.5em;
    right: 1em;
    bottom: 0.3em;
    position: absolute;
  }
  .arrow {
    position: relative;
    transition: ease 2s;
    &:hover {
      transform: translateX(10px);
    }
    .head-second {
      position: absolute;
      width: 428px;
      top: 0;
      bottom: 0;
      left: 35%;
      right: 7%;
    }
  }
  // all text (p)
  .textp {
    font-family: $fontR;
    max-width: 80%;
    color: $white;
    word-break: break-all;
    padding-left: 18px;
  }
  .readmorelink {
    text-decoration: underline;
    font-family: $fontR;
    margin-bottom: 1em;
    line-height: $lineH;
    font-size: 1em;
    color: $pink;
    padding-left: 3%;
  }
  //footer och det som är i den. Har placerat knappen lite högre för att texten inte ska gå under den när skärmen minskar.

  .footer {
    width: 100%;
    height: 3.5em;
    background-color: $blue;
    padding: 0.2em;
    bottom: 0;
    position: fixed;
    z-index: 1;
  }
  .footertext {
    color: $pink;
    font-size: 0.5em;
    text-shadow: $glow;
    font-family: $fontH;
    font-size: 0.7em;
  }

  .button {
    color: white;
    background-color: $blueB;
    text-decoration: none;
    display: inline-block;
    border: none;
    font-family: $fontR;
    right: 1em;
    bottom: 0.9em;
    position: absolute;
  }

  //"space" text sida 2
  .spacetext {
    color: white;
    text-align: center;
    font-family: $fontR;
    font-weight: 600;
    font-size: 4em;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.93);
  }
  //"Ventures" text sida 2
  .spacetext2 {
    color: rgb(95, 95, 95);
    opacity: 75%;
    text-align: center;
    font-family: $fontTime;
    font-weight: 600;
    font-size: 4.5em;
    position: relative;
    right: 0;
    bottom: 1em;
    top: 0.1em;
    left: 0.1em;
  }
  //citat + gömda citatet som bara visas i desktopläge
  blockquote {
    color: white;
    font-family: "Rubik", sans-serif;
    font-style: italic;
    font-size: 1em;
  }
  .invisible {
    display: none;
  }

  //Bakgrunden den andra
}
.bg-secondBB {
  position: absolute;
  min-width: 100%;
  min-height: 812px;
  text-align: left;
  background-image: url(../img/rymdenmobile.png); //ändrade måttet på original bilden samt minskade storleken på filen. Med hjälp av Figma och Tiny PNG.
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 100px;
}
.movetext {
  font-family: "Rubik", sans-serif;
  margin: 0.6em;
  line-height: 1.2em;
  font-size: 1em;
  padding-bottom: 1em;
  color: white;
}
//Gömd bild den som visar bara i desktop
.adampic {
  display: none;
}

.desktoptextfarabove {
  display: none;
}

.hiddentext {
  font-family: "Rubik", sans-serif;
  margin: 0.6em;
  line-height: 1.2em;
  font-size: 1em;
  padding-bottom: 1em;
  color: $white;
}

.groundC {
  font-family: $fontR;
  font-size: 1.2em;
  color: white;
  line-height: $lineH;
  padding-inline: 0.9em;
}

.ReadmoreSquare {
  text-decoration: none;
  position: absolute;
  bottom: 0.3em;
  margin-left: 5%;
}
//rosa pilen samt header där jag tog bort undeline som kunden inte ville ha det på mobil.
.arrowp {
  position: relative;
  transition: ease 2s;
  &:hover {
    transform: translateX(10px);
  }

  //header meny mobile utan rosa underline på menyvalen.
  header {
    a {
      text-decoration: none;
      display: inline-block;
      position: relative;
      color: #000000;
    }
  }
}
