/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;800&display=swap);
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

html,
body {
  width: 100%;
  margin: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
/*::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}*/
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
   * A better looking default horizontal rule
   */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
   * Remove default fieldset styles.
   */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
   * Allow only vertical resizing of textareas.
   */
textarea {
  resize: vertical;
}

/* ==========================================================================
     Author's custom styles
     ========================================================================== */
/* ==========================================================================
     Helper classes
     ========================================================================== */
/*
   * Hide visually and from screen readers
   */
.hidden,
[hidden] {
  display: none !important;
}

/*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
   * Extends the .sr-only class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
   * Hide visually and from screen readers, but maintain layout
   */
/*.invisible {
  visibility: hidden;
}/*s

/*
   * Clearfix: contain floats
   *
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    `contenteditable` attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that receive the `clearfix` class.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]::after {
    content: " (" attr(href) ")";
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

body {
  max-width: 100%;
}

@media screen and (max-width: 350px) {
  .square {
    border: solid 4px black;
    width: 13.5rem;
    height: 14rem;
    position: absolute;
    left: 40px;
    top: 60px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .ReadmoreSquare {
    text-decoration: none;
    position: absolute;
    bottom: 0.3em;
    margin-left: 5%;
  }
  .ToMoon {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    right: 1em;
    bottom: 0.3em;
    position: absolute;
  }
  .textp {
    font-family: "Rubik", sans-serif;
    max-width: 80%;
    color: white;
    word-break: break-all;
    padding: 6px;
    margin: 6px;
    font-size: 1em;
  }
  .invisible {
    display: none;
  }
  blockquote {
    color: white;
    font-family: "Rubik", sans-serif;
    font-style: italic;
    font-size: 1em;
    padding-right: 23px;
  }
  .footer {
    width: 100%;
    height: 4.5em;
    background-color: #03061f;
    padding: 0.2em;
    bottom: 0;
    position: fixed;
    z-index: 2;
  }
  .footertext {
    color: #d200a2;
    font-size: 0.8em;
    text-shadow: 5px 5px 32px #cc0066;
    font-family: "Rubik", serif;
  }
  .button {
    color: white;
    background-color: #07115f;
    text-decoration: none;
    display: inline-block;
    border: none;
    font-family: "Rubik", sans-serif;
    right: 0.5em;
    bottom: 0.5em;
    position: absolute;
  }
  .readmorelink {
    text-decoration: underline;
    font-family: "Rubik", sans-serif;
    margin-bottom: 1em;
    line-height: 1.7em;
    font-size: 1em;
    color: #d200a2;
    padding-left: 3%;
  }
  .bg-secondBB {
    position: absolute;
    min-width: 100%;
    min-height: 812px;
    text-align: left;
    background-image: url(../img/rymdeniphone.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 100px;
  }
  .bg-secondBB {
    position: absolute;
    min-width: 100%;
    min-height: 812px;
    text-align: left;
    background-image: url(../img/rymdencomp.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .bg-secondBB .head-second {
    width: 375px;
    height: 8em;
    top: 0;
    position: relative;
  }
  .bg-secondBB .GH2 {
    font-family: "Rubik", sans-serif;
    font-size: 1.2em;
    color: white;
    line-height: 1.7em;
    padding-inline: 0.9em;
  }
  .bg-secondBB .spacetext {
    color: white;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 4em;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.93);
  }
  .bg-secondBB .spacetext2 {
    color: #5f5f5f;
    opacity: 75%;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: 600;
    font-size: 4.5em;
    position: relative;
    right: 0;
    bottom: 1em;
    top: 0.1em;
    left: 0.1em;
  }
  .adampic {
    display: none;
  }
  .ReadmoreSquare {
    text-decoration: none;
    position: absolute;
    left: 0;
    bottom: 0.5em;
  }
  .arrowp {
    position: relative;
    -webkit-transition: ease 2s;
    transition: ease 2s;
  }
  .arrowp:hover {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  .desktoptextfarabove {
    display: none;
  }
  .movetext {
    font-family: "Rubik", sans-serif;
    margin: 0.6em;
    line-height: 1.2em;
    font-size: 1em;
    padding-bottom: 1em;
    color: white;
  }
  .hiddentext {
    font-family: "Rubik", sans-serif;
    margin: 0.6em;
    line-height: 1.2em;
    font-size: 1em;
    padding-bottom: 1em;
    color: #d200a2;
  }
  .groundC {
    font-family: "Rubik", sans-serif;
    font-size: 1.2em;
    color: white;
    line-height: 1.7em;
    padding-inline: 0.9em;
  }
  header a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: #000000;
  }
}

@media screen and (min-width: 350px) and (max-width: 376px) {
  .square {
    border: solid 4px black;
    width: 13.5rem;
    height: 14rem;
    position: absolute;
    left: 40px;
    top: 60px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .ReadmoreSquare {
    text-decoration: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.3m;
  }
  .ToMoon {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    right: 1em;
    bottom: 0.3em;
    position: absolute;
  }
  .arrow {
    position: relative;
    -webkit-transition: ease 2s;
    transition: ease 2s;
  }
  .arrow:hover {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  .arrow .head-second {
    position: absolute;
    width: 428px;
    top: 0;
    bottom: 0;
    left: 35%;
    right: 7%;
  }
  .textp {
    font-family: "Rubik", sans-serif;
    max-width: 80%;
    color: white;
    word-break: break-all;
    padding-left: 18px;
  }
  .readmorelink {
    text-decoration: underline;
    font-family: "Rubik", sans-serif;
    margin-bottom: 1em;
    line-height: 1.7em;
    font-size: 1em;
    color: #d200a2;
    padding-left: 3%;
  }
  .footer {
    width: 100%;
    height: 3.5em;
    background-color: #03061f;
    padding: 0.2em;
    bottom: 0;
    position: fixed;
    z-index: 1;
  }
  .footertext {
    color: #d200a2;
    font-size: 0.5em;
    text-shadow: 5px 5px 32px #cc0066;
    font-family: "Rubik", serif;
    font-size: 0.7em;
  }
  .button {
    color: white;
    background-color: #07115f;
    text-decoration: none;
    display: inline-block;
    border: none;
    font-family: "Rubik", sans-serif;
    right: 1em;
    bottom: 0.9em;
    position: absolute;
  }
  .spacetext {
    color: white;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 4em;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.93);
  }
  .spacetext2 {
    color: #5f5f5f;
    opacity: 75%;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: 600;
    font-size: 4.5em;
    position: relative;
    right: 0;
    bottom: 1em;
    top: 0.1em;
    left: 0.1em;
  }
  blockquote {
    color: white;
    font-family: "Rubik", sans-serif;
    font-style: italic;
    font-size: 1em;
  }
  .invisible {
    display: none;
  }
}

.bg-secondBB {
  position: absolute;
  min-width: 100%;
  min-height: 812px;
  text-align: left;
  background-image: url(../img/rymdenmobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 100px;
}

.movetext {
  font-family: "Rubik", sans-serif;
  margin: 0.6em;
  line-height: 1.2em;
  font-size: 1em;
  padding-bottom: 1em;
  color: white;
}

.adampic {
  display: none;
}

.desktoptextfarabove {
  display: none;
}

.hiddentext {
  font-family: "Rubik", sans-serif;
  margin: 0.6em;
  line-height: 1.2em;
  font-size: 1em;
  padding-bottom: 1em;
  color: white;
}

.groundC {
  font-family: "Rubik", sans-serif;
  font-size: 1.2em;
  color: white;
  line-height: 1.7em;
  padding-inline: 0.9em;
}

.ReadmoreSquare {
  text-decoration: none;
  position: absolute;
  bottom: 0.3em;
  margin-left: 5%;
}

.arrowp {
  position: relative;
  -webkit-transition: ease 2s;
  transition: ease 2s;
}

.arrowp:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.arrowp header a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #000000;
}

@media screen and (min-width: 377px) and (max-width: 768px) {
  .square {
    border: solid 4px black;
    width: 13.5rem;
    height: 14rem;
    position: absolute;
    left: 40px;
    top: 60px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .ReadmoreSquare {
    text-decoration: none;
    position: absolute;
    bottom: 0.3em;
    margin-left: 5%;
  }
  .ToMoon {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    right: 1em;
    bottom: 0.3em;
    position: absolute;
  }
  .arrow {
    position: relative;
    -webkit-transition: ease 2s;
    transition: ease 2s;
  }
  .arrow:hover {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  .head-second {
    position: absolute;
    width: 428px;
    top: 0;
    left: 3%;
  }
  .textp {
    font-family: "Rubik", sans-serif;
    margin: 0.6em;
    line-height: 1.2em;
    font-size: 1em;
    padding-bottom: 1em;
    color: white;
  }
  blockquote {
    color: white;
    font-family: "Rubik", sans-serif;
    font-style: italic;
    font-size: 1em;
  }
  .readmorelink {
    text-decoration: underline;
    font-family: "Rubik", sans-serif;
    line-height: 1.7em;
    font-size: 1em;
    padding-inline: 1em;
    color: #d200a2;
  }
  .invisible {
    display: none;
  }
  .footer {
    min-width: 100%;
    height: 4.7em;
    background-color: #03061f;
    padding: 0.2em;
    bottom: 0;
    position: fixed;
    z-index: 2;
  }
  .footer .footertext {
    color: #d200a2;
    font-size: 1em;
    text-shadow: 5px 5px 32px #cc0066;
    font-family: "Rubik", serif;
  }
  .footer .button {
    color: white;
    background-color: #07115f;
    text-decoration: none;
    display: inline-block;
    border: none;
    font-family: "Rubik", sans-serif;
    right: 1em;
    bottom: 0.6em;
    position: absolute;
  }
  .spacetext {
    color: white;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 4em;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.93);
  }
  .spacetext2 {
    color: #5f5f5f;
    opacity: 75%;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: 600;
    font-size: 4.5em;
    position: relative;
    right: 0;
    bottom: 1em;
    top: 0.1em;
    left: 0.1em;
  }
  .bg-secondBB {
    position: absolute;
    min-width: 100%;
    min-height: 812px;
    text-align: left;
    background-image: url(../img/rymdencomp.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 90px;
  }
  .adampic {
    display: none;
  }
  .desktoptextfarabove {
    display: none;
  }
  .hiddentext {
    font-family: "Rubik", sans-serif;
    margin: 0.6em;
    line-height: 1.2em;
    font-size: 1em;
    padding-bottom: 1em;
    color: white;
  }
  .groundC {
    font-family: "Rubik", sans-serif;
    font-size: 1.2em;
    color: white;
    line-height: 1.7em;
    padding-inline: 0.9em;
  }
  .movetext {
    font-family: "Rubik", sans-serif;
    margin: 0.6em;
    line-height: 1.2em;
    font-size: 1em;
    padding-bottom: 1em;
    color: white;
  }
  .ReadmoreSquare {
    text-decoration: none;
    position: absolute;
    left: 0;
    bottom: 0.5em;
  }
  .arrowp {
    position: relative;
    -webkit-transition: ease 2s;
    transition: ease 2s;
  }
  .arrowp:hover {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  header a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: #000000;
  }
  header a::after {
    content: "";
    position: absolute;
    width: 100%;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    height: 9px;
    bottom: 0;
    left: 0;
    background-color: #d200a2;
    border-radius: 7px;
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transition: -webkit-transform 0.35s ease-out;
    transition: -webkit-transform 0.35s ease-out;
    transition: transform 0.35s ease-out;
    transition: transform 0.35s ease-out, -webkit-transform 0.35s ease-out;
  }
  header a:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
  }
}

header {
  background-color: transparent;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 15%;
  top: 0;
  background: rgba(255, 255, 255, 0.493);
}

.nav-toggle {
  opacity: 0%;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: black;
  height: 3px;
  width: 3em;
  border-radius: 15px;
  position: relative;
}

.nav-toggle-label span::before {
  content: "";
  position: absolute;
  bottom: 12px;
  left: 3px;
}

.nav-toggle-label span::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 3px;
}

nav {
  position: absolute;
  text-align: right;
  top: 100%;
  left: 0;
  background-color: transparent;
  background: rgba(255, 255, 255, 0.493);
  width: 100%;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: -130px;
}

nav li {
  margin-bottom: 0;
  margin-right: 0;
  padding: 1vh;
}

nav a {
  color: #050505;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
  display: inline-block;
  padding: 0.5vh;
  font-family: "rubik", Times, serif;
  font-size: 2.5em;
  font-style: bold;
  font-weight: 600;
  text-shadow: 1px 3px 2px #969696;
  text-shadow: 3px 5px 4px #61515a;
}

.nav-toggle:checked ~ nav {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  height: 100%;
  padding-block: 43vh;
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  -webkit-transition: opacity 150ms ease-in 250ms, ease-out 250ms;
  transition: opacity 150ms ease-in 250ms, ease-out 250ms;
}

@media screen and (min-width: 768px) {
  .square {
    border: solid 4px black;
    width: 20rem;
    height: 20rem;
    position: absolute;
    left: 50px;
    top: 70px;
    text-align: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .square br {
    display: none;
  }
  .square .ToMoon {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 4em;
  }
  .square a {
    font-family: "rubik", Times, serif;
    float: right;
  }
  .textp {
    font-family: "Rubik", sans-serif;
    margin: 0.7em;
    line-height: 2em;
    font-size: 1.3em;
    padding-inline: 1em;
    color: white;
  }
  .readmorelink {
    text-decoration: underline;
    font-family: "Rubik", sans-serif;
    margin: 1em;
    line-height: 1.7em;
    font-size: 1.2em;
    color: #d200a2;
    padding-inline: 2em;
  }
  .ReadmoreSquare {
    text-decoration: none;
    position: absolute;
    right: 0;
    bottom: 0.5em;
  }
  .footer {
    width: 100%;
    height: 3.5em;
    background-color: #03061f;
    padding: 0.2em;
    bottom: 0;
    position: fixed;
    z-index: 2;
  }
  .button {
    color: white;
    background-color: #07115f;
    text-decoration: none;
    display: inline-block;
    border: none;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    right: 1.2em;
    bottom: 1.4em;
    position: absolute;
  }
  .footertext {
    position: absolute;
    top: 50%;
    color: #d200a2;
    font-size: 1em;
    text-shadow: 5px 5px 32px #cc0066;
    font-family: "Rubik", serif;
    padding-inline: 0.5em;
  }
  .ReadmoreSquare {
    text-decoration: none;
    position: absolute;
    right: 0%;
  }
  .invisible {
    display: show;
    font-family: "Rubik", sans-serif;
    font-style: italic;
    font-size: 1.5em;
    padding: 1em;
    margin: 1em;
    opacity: 30%;
    background: #cf0ebc;
    background: #f5e3ff;
    background: -webkit-gradient(linear, left top, right top, color-stop(11%, #f5e3ff), color-stop(46%, #e540ff), color-stop(14%, #ff2bff), color-stop(52%, #ffffff), color-stop(52%, #ffffff), to(#cf15aa));
    background: linear-gradient(to right, #f5e3ff 11%, #e540ff 46%, #ff2bff 14%, #ffffff 52%, #ffffff 52%, #cf15aa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .head-second {
    position: absolute;
    width: 428px;
    top: 0;
    bottom: 0;
    left: 3%;
  }
  .head-second .arrow {
    position: relative;
    -webkit-transition: ease 2s;
    transition: ease 2s;
  }
  .head-second .arrow:hover {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  .flexcontainer {
    min-width: 100%;
    min-height: 880px;
    margin: 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .flexcontainer .bg-secondBB {
    position: absolute;
    min-width: 100%;
    min-height: 812px;
    text-align: left;
    background-image: url(../img/rymdencomp.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 290px;
  }
  .flexcontainer .h2andtext {
    width: 35%;
    height: 95%;
    padding-top: 7.3%;
  }
  .flexcontainer .quote1 {
    width: 100%;
    height: 35%;
    padding-top: 5%;
    margin-top: 10%;
    padding-bottom: 5%;
    color: white;
    font-family: "Rubik", sans-serif;
    font-style: italic;
    font-size: 1.5em;
    padding: 1em;
    margin: 1em;
  }
  .flexcontainer .wrapperfortext {
    width: 60%;
    height: 100%;
    top: 0;
    position: relative;
  }
  .flexcontainer .wrapperfortext .adampic {
    display: block;
    position: absolute;
    top: 38.6%;
    right: 7%;
    bottom: 10.7em;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  .flexcontainer .wrapperfortext .textp {
    font-family: "Rubik", sans-serif;
    margin: 1em;
    line-height: 2em;
    font-size: 1.3em;
    padding-inline: 2em;
    color: white;
  }
  .flexcontainer .Textpic {
    width: 100%;
    height: 80%;
    padding-inline: 1em;
    padding-top: 5%;
  }
  .groundC {
    font-family: "Rubik", sans-serif;
    font-size: 1.8em;
    color: white;
    line-height: 1.7em;
    padding-inline: 0.9em;
  }
  .spacetext {
    color: white;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 7em;
    position: absolute;
    bottom: -55px;
    left: 75px;
    z-index: 999;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.93);
  }
  .spacetext2 {
    color: #5f5f5f;
    opacity: 75%;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: 600;
    font-size: 8em;
    position: relative;
    right: 0;
    bottom: 1em;
    top: 0;
    left: 0.7em;
  }
  .bg-secondBB {
    position: absolute;
    min-width: 100%;
    min-height: 812px;
    text-align: left;
    background-image: url(../img/rymdencomp.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 100px;
  }
  .arrowp {
    position: relative;
    -webkit-transition: ease 2s;
    transition: ease 2s;
  }
  .arrowp:hover {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  .desktoptextfarabove {
    font-family: "Rubik", sans-serif;
    line-height: 2em;
    display: inline;
  }
  .movetext {
    font-family: "Rubik", sans-serif;
    margin: 1em;
    line-height: 2em;
    font-size: 1.3em;
    padding-inline: 2em;
    color: white;
  }
  .hiddentext {
    display: none;
  }
  header a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: #000000;
  }
  header a::after {
    content: "";
    position: absolute;
    width: 100%;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    height: 9px;
    bottom: 0;
    left: 0;
    background-color: #d200a2;
    border-radius: 99px;
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transition: -webkit-transform 0.35s ease-out;
    transition: -webkit-transform 0.35s ease-out;
    transition: transform 0.35s ease-out;
    transition: transform 0.35s ease-out, -webkit-transform 0.35s ease-out;
  }
  header a:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}

.bg-main-arrow-container {
  width: 3em;
  position: absolute;
  height: 3em;
  bottom: 0;
  right: 50%;
  left: 50%;
  z-index: 999;
}

.bg-main-arrow {
  position: absolute;
  height: 2em;
  z-index: 999;
  -webkit-transition: ease 2s;
  transition: ease 2s;
}

.bg-main-arrow:hover {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.bg-main {
  position: relative;
  min-width: 100%;
  min-height: 812px;
  text-align: left;
  background-image: url(../img/adam.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

a {
  font-family: "Rubik", sans-serif;
}

@media screen and (min-width: 320px) and (max-width: 350px) {
  @use "_iphone5.scss";
}

@media screen and (min-width: 350px) and (max-width: 376px) {
  @use "mobile.scss";
}

@media screen and (min-width: 377px) and (max-width: 768px) {
  @use "_tablet.scss";
}

@media screen and (min-width: 768px) {
  @use "_desktop.scss";
}

.bg-main-arrow-container {
  width: 3em;
  position: absolute;
  height: 3em;
  bottom: 0;
  right: 50%;
  left: 50%;
  z-index: 999;
}

.bg-main-arrow {
  position: absolute;
  height: 2em;
  z-index: 999;
  -webkit-transition: ease 2s;
  transition: ease 2s;
}

.bg-main-arrow:hover {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.second-container {
  width: 100%;
  text-align: left;
  position: relative;
  min-height: 812px;
}

.bg-secondBB {
  position: absolute;
  min-width: 100%;
  min-height: 812px;
  text-align: left;
  background-image: url(../img/rymdencomp.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-secondBB .head-second {
  width: 375px;
  height: 8em;
  top: 0;
  position: relative;
}

a {
  font-family: "Rubik", sans-serif;
}

.arrow {
  position: relative;
  -webkit-transition: ease 2s;
  transition: ease 2s;
}

.arrow:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
/*# sourceMappingURL=base.css.map */